.App-header {
    background-color: #222;
    padding: .5rem;
    color: white;
    font-size: larger;
    margin-bottom: 1em;
    border-bottom: solid white 2px;
  }

  .App-title {
    font-size: 1.5em;
  }
  