.card {
    display: inline-block;
    padding: 1rem;
}

.pic {
    /* width: 350px; */
    height: 250px;
    display: inline-block;
    border: solid white 2px;
    border-radius: 5px;
    color: white;
    font-size: larger;
    align-items:baseline;
    cursor: pointer;
    box-shadow: black 0px 2px 4px;
}

.pic:hover {
    box-shadow: black 0px 6px 12px;
}

.desc {
    width: 350px;
    height: 250px;
    display: inline-block;
    border: solid white 5px;
    border-radius: 5px;
    color: white;
    font-size: larger;
    height: 30vh;
    align-items:baseline;
}

.desc {
    box-shadow: black 0px 6px 12px;
}

.p {
    color: white;
    font-size: large;
}

.like {
    padding: .5rem;
    display: flex;
    margin-left: 40%;
    margin-top: 1rem;
    border: solid white 1px;
    border-radius: 5px;
}